@import "tailwindcss";

@theme {
  --animate-flutuar: flutuar 2s ease-in-out infinite alternate;
  @keyframes flutuar {
    0% {
      right: 0;
    }
    100% {
      right: 30px;
    }
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}
body {
  display: flex;
  background: #1e2939;
  padding-top: 40px;
  justify-content: center;
  align-items: center;
}
