@import "tailwindcss";
@import url("./assets/fylo.jpeg");
@import url("./assets/extension.jpeg");
@import url("./assets/burguer.jpg");

/* configurações gerais  */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #1e2939;
}

/* Animação do Inicio  */
/* @theme {
  --animate-flutuar: flutuar 2s ease-in-out infinite alternate;
  @keyframes flutuar {
    0% {
      right: 0;
    }
    100% {
      right: 30px;
    }
  }
} */

/* tirando o ERRO que estava dando no @theme  */
.animate-flutuar {
  animation: flutuar 2s ease-in-out infinite alternate;
}
@keyframes flutuar {
  0% {
    right: 0;
  }
  100% {
    right: 30px;
  }
}

/* Animações das Imagens do Portfólio  */
.bg-custom-image {
  border-radius: 12px;
  background-image: url("./assets/fylo.jpeg");
  background-size: cover;
  background-position: 100% 0%;
  background-repeat: no-repeat;
  transition: 6s;
  height: 400px; /* Defina uma altura para a div */
  width: 300px;
}
.bg-custom-image1 {
  border-radius: 12px;
  background-image: url("./assets/extension.jpeg");
  background-size: cover;
  background-position: 100% 0%;
  background-repeat: no-repeat;
  transition: 6s;
  height: 400px; /* Defina uma altura para a div */
  width: 300px;
}
.bg-custom-image2 {
  border-radius: 12px;
  background-image: url("./assets/burguer.jpg");
  background-size: cover;
  background-position: 100% 0%;
  background-repeat: no-repeat;
  transition: 6s;
  height: 400px; /* Defina uma altura para a div */
  width: 300px;
}
.bg-custom-image:hover,
.bg-custom-image1:hover,
.bg-custom-image2:hover {
  background-position: 0% 100%;
}
